header{
    background-color: rgb(218, 226, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 2%;
    padding-right: 2%;
}
.hero{
    background-color: rgb(118, 146, 197);
    height: 92vh;
    display: flex;
    justify-content: center;
    aligwn-items: center;
    text-align: center;
    color: white;
}

.gidole-regular {
    font-family: "Gidole", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

ul{
    list-style: none;
}

li{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#menu{
   /*all inizio non si vede*/
    display: none;
}

footer{
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoscuola{
    height: 13vh;
    display: flex;
    align-items: center;
}

.imglogo {
    height: 80%;
}

.info > a{
    text-decoration: none;
    background-color: darkcyan;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    border-radius: 10px;
}

/*seleziono i tre div dentro al footer*/
footer > div{
    /*specifico la larghezza dei tre div nel footer e li metto in mezzo*/
    width: 33.33333%;
    display: flex;
    justify-content: center;
}

.inizio {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenitore{
    width: 40%;
    background-color: lightskyblue;
    height: 35%;
    margin: 30 px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*animazione quando passo con il mouse ssui contenitori*/
.contenitore:hover{
    background-color: lightblue;
    transition: 0.3s;
}

.cv{
    display: flex;
    justify-content: center;
}

/*personalizzo il riquaadro del curicculum*/
.curriculum{
    width: 70%;
    padding: 20px;
    border:1px solid black
}

.intestazione{
    text-align: center;
}